<!DOCTYPE html>
{% load custom_tag %}
<html lang="en">
<head>
    <title>Covid Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div class="container-fluid">


    <div>
        <form action="" id="filterForm" method="GET">
            <div class="row">

                <div class="col">
                    <!--state-->
                    <div class="form-group">
                        <label for="">Select State</label>
                        <select name="state" class="form-control" id="stateSelect">
                            <option value="">Select State</option>
                            {% for state in states %}
                            <option {% is_option_selected selected_state_id state.pk %} value="{{state.pk}}">{{state}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="col">
                    <!--cities-->
                    <div class="form-group">
                        <label for="">Select City</label>
                        <select name="city" class="form-control" id="citySelect">
                            <option value="">Select State</option>
                            {% for city in cities %}
                            <option {% is_option_selected selected_city_id city.pk %} value="{{city.pk}}">{{city.name}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="col">
                    <!--cities-->
                    <div class="form-group">
                        <label for="">Select Facility</label>
                        <select name="facility" class="form-control" id="facilitySelect">
                            <option value="">Select facility</option>
                            {% for facility in facilities %}
                            <option {% is_option_selected selected_facility_id facility.pk %}
                                    value="{{facility.pk}}">{{facility.title}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <table class="table text-center table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th rowspan="2">Hospital</th>
            {% for facility in facilities %}
            <th colspan="2" class="text-center">{{facility.title}}</th>
            {% endfor %}

        </tr>
        <tr>

            {% for facility in facilities %}
            <th>Total</th>
            <th>Available</th>
            {% endfor %}

        </tr>
        </thead>
        <tbody>
        {% for hospital in hospital %}
        <tr>
            <td>{{hospital.name}}</td>
            {% get_availibilities hospital as availibilities %}
            {% for avl in availibilities %}
            <td>{{avl.total}}</td>
            <td class="{%get_table_class avl.available%}">{{avl.available}}</td>
            {% endfor %}
        </tr>
        {% endfor%}
        </tbody>
    </table>
</div>

</body>
<script>
    window.onload = function () {
        var stateSelect = document.getElementById('stateSelect')
        var citySelect = document.getElementById('citySelect')
        var facilitySelect = document.getElementById('facilitySelect')
        var form = document.getElementById('filterForm')

        formSubmit = function () {
            form.submit()
        }
        stateSelect.onchange = formSubmit
        citySelect.onchange = formSubmit
        facilitySelect.onchange = formSubmit
    }
</script>
</html>
